/* 
    Document   : act_style
    Created on : Mar 29, 2012, 4:11:11 PM
    Author     : Vlad
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background-color: #aade5f;
    margin: 0;
    padding: 0;
}
.act_show_view1,
.act_show_view2{
    margin: 0 auto 0 auto;
    width: 100%;
}
.hello_text{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    margin: 50px;
}
.ui-panel{  
    margin: 0 auto 0 auto;
}

tbody{
    vertical-align: top;
}
.image{
    height: 150px;
}
.showText{
    font-size: 14px;
}
