/* 
    Document   : act_style
    Created on : Mar 29, 2012, 4:11:11 PM
    Author     : Vlad
    Description:
        Style sheet for actions.xhtml page
*/

root { 
    display: block;
}
body{
    background-color: #aade5f;
    margin: 0;
    padding: 0;
}
.act_show_view1,
.act_show_view2{
    margin: 0 auto 0 auto;
    width: auto;
}
.hello_text{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    margin: 50px;
}
.ui-panel{  
    margin: 0 auto 0 auto;
}

tbody{
    vertical-align: top;
}
.image{
    height: 150px;
}
.showText{
    font-size: 14px;
}
.episodeText{
   font-size: 16px; 
}
.episodeRef{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.checkImg{
    width: 21px;
    height: 21px;
    margin: 3px 10px 0 0px;
    cursor: pointer;
}
.tv_img{
    margin: 0 auto 0px 50px;
}
#header{
    font-size: 10px;
    height: 15px;
}
.ui-dt-c{
    font-size: 14px;
}
.unwatchedEpText{
    font-size: 14px;
    
}
.closeImg{
    cursor: pointer;
    float: right;
    
}
.ui-notificationbar,
ui-widget,
ui-widget-content,
top ,
#j_idt7{
    height: 100px!important;
    width: 100%;
}
.ui-notificationbar{
    padding: 10px 0 0 10px !important;
    height: 100px!important;
}
.top{
    cursor: pointer;
}
