/* 
    Document   : act_style
    Created on : Mar 29, 2012, 4:11:11 PM
    Author     : Vlad
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    background-color: #aade5f;
    margin: 0;
    padding: 0;
}
.act_show_view1,
.act_show_view2{
    margin: 0 auto 0 auto;
}
.hello_text{
    font-size: 12px;
    color: #ff0000;
}
.ui-panel{
    width: 700px;
    margin: 0 auto 0 auto;
}
.ui-datagrid{
    width: 900px;
}
